body {
    margin: 0;
}

#app {
    height: 100vh;
    width: 100vw;
}

.info {
    display: flex;
    justify-content: center;

    background-color: #cececece;
    padding: 10px;
    border-radius: 4px;
}

.label {
    margin-right: 15px;
}